@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <section id="game-container">
        <h2>Pop the Balloons!</h2>
        <p>Score: <span id="score">0</span></p>
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/p5@1.4.2/lib/p5.js"
        defer></script>
<script src="site.js" defer></script>

<div>
    <button id="resetButton"
            type="button"
            class="btn btn-outline-primary click">
        Reset
    </button>
</div>